*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    background: rgb(194, 243, 227);
    font-family: Helvetica;
}

.main-section {
    min-height: calc(100vh - 100px);
}

.nav-bar ul {
    position: relative;
    display: flex;
    list-style: none;
    background: rgb(233, 109, 92);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
}

.nav-bar li {
    margin: 15px;
}

.nav-bar button {
    width: 150px;
    padding: 10px 5px;
    background: rgb(189, 255, 216);
    border: none;
    border-radius: 5px;
}

.nav-bar button:hover {
    background: rgb(168, 233, 190);
}

.nav-bar button:active {
    background: rgb(154, 221, 190);
    transform: scale(.99);
}

.nav-bar input[type="checkbox"] {
    position: absolute;
    right: 25px;
}

#focused {
    background: rgb(241, 240, 163);
    padding: 12px 5px;
}

#focused:hover {
    background: rgb(217, 228, 153);
}

#focused:active {
    background: rgb(195, 218, 143);
}

/* FOLDERS */

.folders {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 50px;
}

.folder {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.enter-folder {
    width: 75px;
    height: 75px;
    background-image: url("images/folder.png");
    background-size: cover;
    border: none;
    border-radius: 5px;
}

.enter-folder:hover {
    background-color: rgb(245, 195, 195);
}

.enter-folder:active {
    background-color: rgb(235, 185, 183);
    transform: scale(.975);
}

.delete-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-image: url("images/delete.png");
    background-size: cover;
    border: none;
    z-index: 1;
}

.delete-button:hover {
    filter: saturate(500%);
}

.delete-button:active {
    filter: invert(10%);
    transform: scale(.95);
}

.folder input[type="text"], .folder p {
    text-align: center;
    width: 100px;
    margin-top: 5px;
    padding: 5px;
    background: rgb(188, 215, 255);
    border: none;
    border-radius: 5px;
}

.folder p {
    overflow-wrap:break-word;
}

.add-folder button {
    width: 75px;
    height: 75px;
    background-image: url("images/add_folder.png");
    background-size: cover;
    border: none;
    border-radius: 5px;
}

.add-folder button:hover {
    background-color: rgb(235, 202, 183);
}

.add-folder button:active {
    background-color: rgb(223, 186, 165);
    transform: scale(.975);
}

/* FOOTER */

.footer {
    /* position: sticky; */
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgb(245, 123, 107);
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.footer .add-todo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-image: url("images/add.png");
    background-size: cover;
}

.footer .add-todo:hover {
    filter: saturate(200%);
}

.footer .add-todo:active {
    filter: invert(10%);
    transform: scale(.975);
}

.footer .go-back {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-image: url("images/back-arrow.png");
    background-size: cover;
}

.footer .go-back:hover {
    filter: saturate(200%);
}

.footer .go-back:active {
    filter: invert(10%);
    transform: scale(.975);
}

/* MODAL */

.delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(183, 201, 226, .3);
    z-index: 3;
}

.modal-content {
    margin: 100px auto;
    padding: 10px;
    border-radius: 5px;
    background: rgb(168, 185, 231);
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.modal-content .delete-button {
    top: 5px;
    right: 5px;
}

.modal-content .message {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.modal-content .delete-name {
    background: azure;
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.25rem;
    overflow-wrap: break-word;
}

.modal-buttons {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.modal-buttons button {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.yes-delete {
    background: rgb(255, 151, 120);
}

.yes-delete:hover {
    background: rgb(250, 126, 120);
}

.yes-delete:active {
    background: rgb(228, 115, 107);
    transform: scale(.975);
}

.no-delete {
    background: rgb(176, 230, 95);
}

.no-delete:hover {
    background: rgb(136, 220, 90);
}

.no-delete:active {
    background: rgb(125, 210, 90);
    transform: scale(.975);
}

/* -.- */

@media screen and (max-width: 500px) {
    .main-section {
        min-height: 100vh;
    }

    .nav-bar button {
        font-size: .75rem;
        width: auto;
    }

    .nav-bar li {
        margin: 5px;
    }

    .nav-bar input[type="checkbox"] {
        right: 10px;
    }

    .modal-content {
        border-radius: 5px;
        width: 300px;
        gap: 5px;
    }

    .folders {
        gap: 20px;
    }

    .footer .add-todo {
        width: 50px;
        height: 50px;
    }

    .footer .go-back {
        width: 50px;
        height: 50px;
    }
}