*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    background: rgb(194, 243, 227);
    font-family: Helvetica;
}

.nav-bar ul {
    position: relative;
    display: flex;
    list-style: none;
    background: rgb(233, 109, 92);
}

.nav-bar li {
    margin: 15px;
}

.nav-bar button {
    width: 150px;
    padding: 10px 5px;
    background: rgb(163, 241, 195);
    border: none;
    border-radius: 5px;
}

.nav-bar button:hover {
    background: rgb(125, 233, 172);
}

.nav-bar button:active {
    background: rgb(110, 211, 155);
    transform: scale(.99);
}

.nav-bar input[type="checkbox"] {
    position: absolute;
    right: 25px;
}

#focused {
    background: rgb(241, 240, 163);
    padding: 12px 5px;
}

#focused:hover {
    background: rgb(217, 228, 153);
}

#focused:active {
    background: rgb(195, 218, 143);
}

@media screen and (max-width: 500px) {
    .nav-bar button {
        font-size: .75rem;
        width: auto;
    }

    .nav-bar li {
        margin: 5px;
    }

    .nav-bar input[type="checkbox"] {
        right: 10px;
    }
}