:root.light {
    --modal-bg: rgb(148, 193, 245, 0.5);
    --modal-content-bg: rgb(74, 179, 240);
    --color: black;
    --save-bg: rgb(180, 255, 163);
    --save-bg-hover: rgb(149, 231, 141);
    --save-bg-active: rgb(141, 221, 134);
    --input-bg: antiquewhite;
}

:root.dark {
    --modal-bg: rgba(76, 130, 158, 0.5);
    --modal-content-bg: rgb(16, 23, 82);
    --color: azure;
    --save-bg: rgb(0, 33, 182);
    --save-bg-hover: rgb(7, 31, 136);
    --save-bg-active: rgb(10, 30, 118);
    --input-bg: rgb(69, 111, 184);
}

.thing-container {
    position: relative;
    padding-top: 100px;
}

.things-sub-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    padding: 20px;
}

.thing {
    background: rgb(250, 203, 141);
    width: 500px;
    border-radius: 5px;
    padding: 5px;
}

.thing .main-thing-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.main-thing-content .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(226, 238, 185);
    padding: 5px;
    height: 90px;
    text-align: center;
    border-radius: 5px;
}

.main-thing-content .title-wrapper .title {
    overflow-wrap: break-word;
    width: 200px;
    font-size: 1.25rem;
}

.modify-thing {
    background: rgb(226, 238, 185);
    border-radius: 5px;
    padding: 10px;
    display: none;
    justify-content: space-around;
}

.edit-thing {
    background-image: url("images/pencil.png");
}

.reset-thing {
    background-image: url("images/reset.png");
}

.delete-thing {
    background-image: url("images/rubbish-bin.png");
}

.thing-container button {
    background-color : transparent;
    background-size: cover;
    border: none;
    border-radius: 3px;
}

.thing button {
    width: 35px;
    height: 35px;
}

.thing-container .things-sub-container button:hover {
    background-color: rgb(10, 20, 100, .1);
}

.thing-container .things-sub-container button:active {
    background-color: rgb(20, 10, 120, .2);
    transform: scale(.975);
}

.things-sub-container .thing .change-thing-button {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.change-thing-button {
    background-image: url("images/right-arrow.png");
}

.inc-dec {
    align-self: center;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plus {
    background-image: url("images/plus.png");
}

.minus {
    background-image: url("images/minus.png");
}

.inc-dec span {
    background-color: rgb(197, 248, 210);
    border-radius: 3px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.add-thing-modal {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--modal-bg);
    color: var(--color);
    z-index: 2;
    width: 100%;
    height: 100vh;
}

.add-thing-modal-content {
    width: 500px;
    background: var(--modal-content-bg);
    margin: 100px auto;
    padding: 10px;
    font-size: 1.35rem;
    border-radius: 10px;
}

.main-modal-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-modal-content .left {
    display: flex;
    flex-direction: column;
}

.label-content {
    padding: 10px;
}

.label-content input {
    background: var(--input-bg);
    color: var(--color);
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

.advanced-modal-content {
    display: none; 
    flex-direction: column;
}

.advanced-modal-content input[type="tel"] {
    width: 50px;
    background-color: var(--input-bg);
    color: var(--color);
    border-radius: 5px;
    text-align: center;
}

.advanced-modal-content .inputs {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.advanced-modal-content .left-portion, .advanced-modal-content .rigth-portion {
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.advanced-wrapper {
    display: flex;
    gap: 10px;
}

.advanced-wrapper .advanced-configurations {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    background-image: url("images/right-arrow.png");
}

.main-modal-content .save {
    background: var(--save-bg);
    color: var(--color);
    align-self: flex-end;
    width: 100px;
    height: 35px;
}

.main-modal-content .save:hover {
    background: var(--save-bg-hover);
}

.main-modal-content .save:active {
    background: var(--save-bg-active);
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview {
    width: 300px;
    height: 75px;
    background: rgb(250, 203, 141);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.preview .line {
    width: 100px;
    height: 10px;
    align-self: center;
    background: rgb(140, 149, 158);
    border-radius: 5px;
}

.preview .text-preview {
    width: 100px;
    height: 40px;
    background: rgb(226, 238, 185);
    align-self: center;
    border-radius: 5px;
}

.color-inputs {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.color-inputs input[type="color"] {
    width: 50px;
    height: 50px;
    opacity: 0;
}

.main-color-wrapper, .bg-text-color {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-color-wrapper .color-input-wrapper, .bg-text-color .color-input-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #facb8d;
}

.main-color-wrapper .color-input-wrapper {
    background-color: #facb8d;
}

.bg-text-color .color-input-wrapper {
    background-color: #e2eeb9;
}

.temp-input {
    background: rgb(238, 215, 185);
    border-radius: 5px;
    margin: 10px 5px;
    border: none;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .thing-container {
        padding-top: 60px;
    }

    .things-sub-container {
        gap: 10px;
    }

    .thing {
        width: 300px;
    }

    .main-thing-content {
        padding: 10px;
    }
    
    .main-thing-content .title-wrapper .title {
        width: 120px;
        font-size: 1rem;
    }
    
    .thing button {
        width: 25px;
        height: 25px;
    }
    
    .change-thing-button {
        width: 15px;
        height: 15px;
    }
    
    .inc-dec {
        width: 150px;
    }
    
    .inc-dec span {
        font-size: 1.25rem;
        padding: 5px;
    }

    /* ------------------------------ */

    .temp-input {
        width: 100px;
    }

    .add-thing-modal-content {
        width: 300px;
        margin: 50px auto;
        padding: 5px;
        font-size: 1rem; 
    }

    .label-content {
        padding: 5px;
    }

    .label-content input {
        padding: 3px;
        width: 100px;
    }

    .advanced-modal-content input[type="tel"] {
        width: 35px;
    }

    .advanced-modal-content .inputs {
        margin: 10px;
    }

    .advanced-wrapper {
        gap: 5px;
    }

    .advanced-wrapper .advanced-configurations {
        width: 15px;
        height: 15px;
    }

    .main-modal-content .save {
        width: 50px;
        height: 25px;
    }

    .preview {
        width: 250px;
        height: 75px;
    }

    .preview .line {
        width: 75px;
    }

    .preview .text-preview {
        width: 75px;
    }

    .color-inputs label {
        display: block;
        width: 100px;
        margin-top: 10px;
    }

    .left-portion, .rigth-portion {
        width: 100%;
    }

    .left-portion div, .rigth-portion div {
        display: flex;
        justify-content: space-around;
        text-align: start;
    }

    .left-portion label, .rigth-portion label {
        display: block;
        width: 70px;
    }

    .left-portion input[type="tel"], .rigth-portion input[type="tel"] {
        width: 50px;
    }

    .delete-button {
        width: 15px;
        height: 15px;
    }
}