.thing-container {
    position: relative;
    padding-top: 100px;
}

.things-sub-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    padding: 20px;
}

.thing {
    background: rgb(250, 203, 141);
    width: 500px;
    border-radius: 5px;
    padding: 5px;
}

.thing .main-thing-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.thing .main-thing-content .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(226, 238, 185);
    padding: 5px;
    height: 90px;
    text-align: center;
    border-radius: 5px;
}

.thing .main-thing-content .title-wrapper .title {
    overflow-wrap: break-word;
    width: 200px;
    font-size: 1.25rem;
}

.thing .modify-thing {
    background: rgb(226, 238, 185);
    border-radius: 5px;
    padding: 10px;
    display: none;
    justify-content: space-around;
}

.thing .modify-thing .edit-thing {
    background-image: url("images/pencil.png");
}

.thing .modify-thing .reset-thing {
    background-image: url("images/reset.png");
}

.thing .modify-thing .delete-thing {
    background-image: url("images/rubbish-bin.png");
}

.thing button {
    background-color : transparent;
    background-size: cover;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 3px;
}

.thing button:hover {
    background-color: rgb(10, 20, 100, .1);
}

.thing button:active {
    background-color: rgb(20, 10, 120, .2);
    transform: scale(.975);
}

.thing .change-thing-button {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.thing .change-thing-button {
    background-image: url("images/right-arrow.png");
}

.thing .main-thing-content .inc-dec {
    align-self: center;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thing .main-thing-content .inc-dec .plus {
    background-image: url("images/plus.png");
}

.thing .main-thing-content .inc-dec .minus {
    background-image: url("images/minus.png");
}

.thing .main-thing-content .inc-dec span {
    background-color: rgb(197, 248, 210);
    border-radius: 3px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

@media screen and (max-width: 700px) {
    .thing-container {
        padding-top: 60px;
    }

    .things-sub-container {
        gap: 10px;
    }

    .thing {
        width: 300px;
    }

    .thing .main-thing-content {
        padding: 10px;
    }
    
    .thing .main-thing-content .title-wrapper .title {
        width: 100px;
        font-size: 1rem;
    }
    
    .thing button {
        width: 25px;
        height: 25px;
    }
    
    .thing .change-thing-button {
        width: 15px;
        height: 15px;
    }
    
    .thing .main-thing-content .inc-dec {
        width: 150px;
    }
    
    .thing .main-thing-content .inc-dec span {
        font-size: 1.25rem;
        padding: 5px;
    }
}