.todo-container {
    position: relative;
    margin-top: 100px;
}

.folders {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 50px;
}

.folder {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.folder .enter-folder {
    width: 75px;
    height: 75px;
    background-image: url("images/folder.png");
    background-size: cover;
    border: none;
    border-radius: 5px;
}

.folder .enter-folder:hover {
    background-color: rgb(245, 195, 195);
}

.folder .enter-folder:active {
    background-color: rgb(235, 185, 183);
    transform: scale(.975);
}

.delete-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-image: url("images/delete.png");
    background-size: cover;
    border: none;
    z-index: 1;
}

.delete-button:hover {
    filter: saturate(500%);
}

.delete-button:active {
    filter: invert(10%);
    transform: scale(.95);
}

.folder input[type="text"], .folder p {
    text-align: center;
    width: 100px;
    margin-top: 5px;
    padding: 5px;
    background: rgb(188, 215, 255);
    border: none;
    border-radius: 5px;
}

.folder p {
    overflow-wrap:break-word;
}

.add-folder button {
    width: 75px;
    height: 75px;
    background-image: url("images/add_folder.png");
    background-size: cover;
    border: none;
    border-radius: 5px;
}

.add-folder button:hover {
    background-color: rgb(235, 202, 183);
}

.add-folder button:active {
    background-color: rgb(223, 186, 165);
    transform: scale(.975);
}

.todos {
    position: relative;
    min-height: 100vh;
}

.todo {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 700px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.todo h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    max-width: 500px;
}

.todo input[type="text"] {
    background: azure;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    max-width: 500px;
    text-align: center;
}

.todo textarea, .todo p {
    width: 600px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.todo p {
    background: rgb(233, 241, 227);
    min-height: 3rem;
    text-align: start;
    overflow-wrap: break-word;
}

.todo textarea {
    resize: vertical;
    overflow: auto;
}

.todo .controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.todo .controls button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("images/rubbish-bin.png");
    background-size: cover;
    border-radius: 5px;
}

.todo .controls button:hover {
    background-color: rgb(255, 132, 110);
}

.todo .controls button:active {
    background-color: rgb(236, 105, 96);
    transform: scale(.975);
}

.todo .controls input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: nobe;
    align-self: center;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: 1px dotted red;
    background: rgb(255, 250, 250);
}

.todo .controls input[type="checkbox"]:checked {
    background: rgb(31, 233, 13);
}

.todo .controls input[type="checkbox"]:checked::after {
    content: url("images/checkmark.png");
}

.todo .controls .check-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
}

/* ... */

.unchecked {
    background: rgb(193, 206, 236);
}

.unchecked h2 {
    background: rgb(169, 243, 243);
}

.unchecked textarea {
    background: rgb(233, 241, 227);
}

/* ... */

.checked {
    background: rgb(187, 199, 207);
}

.checked h2 {
    background: rgb(153, 171, 173);
    text-decoration: line-through;
}

.checked textarea {
    background: azure;
}

.footer {
    position: sticky;
    bottom: 0;
    background: rgb(245, 123, 107);
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.footer .add-todo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-image: url("images/add.png");
    background-size: cover;
}

.footer .add-todo:hover {
    filter: saturate(200%);
}

.footer .add-todo:active {
    filter: invert(10%);
    transform: scale(.975);
}

.footer .go-back {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-image: url("images/back-arrow.png");
    background-size: cover;
}

.footer .go-back:hover {
    filter: saturate(200%);
}

.footer .go-back:active {
    filter: invert(10%);
    transform: scale(.975);
}

@media screen and (max-width: 700px) {
    .todo-container {
        margin-top: 60px;
    }

    .folders {
        gap: 20px;
    }

    .todo {
        width: 300px;
    }

    .todo h2 {
        max-width: 200px;
        font-size: 1.25rem;
    }

    .todo input[type="text"] {
        max-width: 200px;
    }

    .todo textarea, .todo p {
        width: 250px;
        min-height: 4rem; 
    }

    .footer .add-todo {
        width: 50px;
        height: 50px;
    }

    .footer .go-back {
        width: 50px;
        height: 50px;
    }
}